<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Artist</title>
    </head>

    <body>

        <a href="/artists">Back</a>

        <h1>
            <p th:text="${artist.name}">
        </h1>

        <h2>Albums</h2>

        <ul>
            <th:block th:each="album : ${albums}">
                <li>
                    <span th:text="|&quot;${album.name}&quot;|"></span>
                    <span th:text="|(${album.year})|"></span>
                    <span th:text="|[${album.genre}]|"></span>
                    <span th:text="|/${album.label}|"></span>
                </li>
            </th:block>
        </ul>

        <form method="post" action="/artist/album">
            <h3>Add a New Album</h3>
            <input placeholder="Title" type="text" id="albumTitle" name="name">
            <input placeholder="Year" type="number" id="albumYear" name="year">
            <input placeholder="Genre" type="text" id="albumGenre" name="genre">
            <input placeholder="Label" type="text" id="albumLabel" name="label">
            <input type="hidden" th:value="${artist.id}" id="albumArtist" name="artist">
            <button type="submit">Add Album</button>
        </form>

        <h2>Songs</h2>

        <ul>
            <th:block th:each="song : ${songs}">
                <li>
                    <span th:text="|&quot;${song.name}&quot;|"></span>
                    <span th:text="|${song.duration/60}:${song.duration%60}|"></span>
                    <span th:text="${song.explicitContent} ? '(18+)' : ''"></span>
                    <th:block th:each="album : ${albums}">
                        <span th:if="${song.album} != null AND ${song.album.id == album.id}" th:text="|[&quot;${album.name}&quot;]|"></span>
                    </th:block>

                </li>
            </th:block>
        </ul>

        <form method="post" action="/artist/song">
            <h3>Add a New Song</h3>
            <input placeholder="Title" type="text" id="songTitle" name="name">
            <input placeholder="Duration in s." type="number" id="songDuration" name="duration">
            <label for="songAlbum">Album</label>
            <select id="songAlbum" name="album">
                <option th:value="${null}">Choose album</option>
                <th:block th:each="album : ${albums}">
                    <option th:value="${album.id}" th:text="${album.name}"></option>
                </th:block>
            </select>
            <label for="explicitContent">Explicit content</label>
            <input type="checkbox" id="explicitContent" name="explicitContent">
            <input type="hidden" th:value="${artist.id}" id="songArtist" name="artist">
            <button type="submit">Add Song</button>
        </form>
    </body>
</html>