<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Artist</title>
    </head>

    <body>

        <h1>
            <p th:text="${artist.name}">
        </h1>

        <h2>Albums</h2>

        <ul>
            <th:block th:each="album : ${albums}">
                <li>
                    <span th:text="${album.name}"></span>
                    <span th:text="${album.year}"></span>
                    <span th:text="${album.genre}"></span>
                    <span th:text="${album.label}"></span>
                </li>
            </th:block>
        </ul>

        <form method="post" action="/artist/album">
            <h3>Add a New Album</h3>
            <label for="albumTitle">Title:</label>
            <input type="text" id="albumTitle" name="name">
            <label for="albumYear">Year:</label>
            <input type="number" id="albumYear" name="year">
            <label for="albumGenre">Genre:</label>
            <input type="text" id="albumGenre" name="genre">
            <label for="albumLabel">Label:</label>
            <input type="text" id="albumLabel" name="label">
            <label for="albumArtist"></label>
            <input type="hidden" th:value="${artist.id}" id="albumArtist" name="artist">
            <button type="submit">Add Album</button>
        </form>

        <h2>Songs</h2>

        <ul>
            <th:block th:each="song : ${songs}">
                <li>
                    <span th:text="${song.name}"></span>
                    <span th:text="${song.duration}"></span>
                    <span th:text="${song.explicitContent}"></span>
                </li>
            </th:block>
        </ul>

        <form method="post" action="/artist/song">
            <h3>Add a New Song</h3>
            <label for="songTitle">Title:</label>
            <input type="text" id="songTitle" name="name">
            <label for="songDuration">Duration:</label>
            <input type="number" id="songDuration" name="duration">
            <label for="explicitContent">Explicit content</label>
            <input type="checkbox" id="explicitContent" name="explicitContent">
            <label for="artist"></label>
            <input type="hidden" th:value="${artist.id}" id="artist" name="artist">
            <button type="submit">Add Song</button>
        </form>
    </body>
</html>